<app-diseno-interfaz></app-diseno-interfaz>

<body>
    
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
        .w3-2019-evening-blue{color:#fff;background-color:#4f5055}
        </style>

<div i="contenedorRevisar-TM">
    <div class="wrapper border border-gray-400 rounded-lg" style="background-color: rgb(240, 240, 240); width: 40%;">

        <div class="title">
            <h1 style="color: black;">Cambio de Contraseña</h1>
        </div>
        <div style="margin-bottom: 3%; height: 1px; border: 1px solid black; border-radius: 1px;"></div>

        <br>
        <div class="example-container">
          <form [formGroup]="form" style="text-align:center;">
            <mat-form-field style="margin-right: 5%;">
              <input matInput placeholder="New password" formControlName="password" required>
              <mat-error *ngIf="form.hasError('required', 'password')">
                Please enter your new password.
              </mat-error>
            </mat-form-field>
          
            <mat-form-field>
              <input matInput placeholder="Confirm password" formControlName="confirmPassword"  [errorStateMatcher]="matcher" style="width:fit-content;">
                <mat-error *ngIf="form.hasError('notSame')">
                Passwords do not match.
              </mat-error>  
            </mat-form-field>
          </form>
        </div>
        <div >

            <div class="row" style="margin-top: 6%;">

                <div class = "col" style="width: 50%;">
                    <form [formGroup]="form" style="text-align: center  ;">								
                      <button id="boton_enviar" (click)='mostrar_Registro()'[disabled]="!form.valid" style=" vertical-align: bottom; width: 40%; color: rgb(255, 255, 255);">Aprobar</button>								
                    </form>
                </div>
                
                <div class = "col" style="width: 50%;">
                    <form [formGroup]="form" style="text-align: center;">								
                        <button id="boton_enviar" (click)='mostrar_cancelar()' style=" vertical-align: bottom; width:40%; background-color: rgb(233, 23,23); border: 2px solid rgb(110, 20, 20); color: white;" >Rechazar</button>								
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


